
/* common shaerd styles */
.body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato',sans-serif;

  }
  .text-primary{
    color: #FD6E0A;
  }
  .section-title{
        color: 
        #000000;
        font-size: 35px;
        height: 48px;
        font-size: 35px;
        font-weight:700px;  
        text-align: center;
  }
  .section-description{
    font-size: 18px;
    text-align: center;
    color: #757575;
  }
  
  /* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    line-height: normal;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
     list-style: none;
     margin-right: 50px;  
}
nav a{
    text-decoration: none;
    color: #474747;;
}
.btn-primary{
    background: #FD6E0A;
    border-radius:5px ;
    border: 0;
    font-size: 20px;
    font-weight: 800px;
    color: white;
    padding: 15px 35px 19px 36px;
}
/* header relates styles */
.header{
    background-color: 
    #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 585px;
}
,.banner .profile-pic{
    width: 500px;
    height: 600px;
    margin: 47px 38px 0 163px;
    object-fit: contain;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: 
    #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-discription{
    margin-bottom: 30px;
}
/* MAIN SECTION STYLES */
.main{
        max-width: 1140px;
        margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin:130px 0px ;
}
.about-info-container{
    display: flex;
    justify-content:space-around ;
}
.about-info{
    text-align: center;
    /* font-weight: bold; */

    /* skill related styles */
}
#what-i-description{
        padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    height: 250px;
}
.skill-description{
    color: #757575;
}